
@{
    ViewBag.Title = "BankFormatMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*--------*Angular JS* SECTION------*@
<script src="~/AngScripts/jquery-3.6.0.js"></script>
<script src="~/AngScripts/jquery-3.6.0.min.js"></script>
<script src="~/AngScripts/angular.js"></script>
<script src="~/AngScripts/ngStorage.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.0.3.js"></script>
@*---------*Angular JS* SECTION-----*@

<link rel="stylesheet" href="/css/bootstrap.min.v4.css" />
<link rel="stylesheet" href="/css/bootstrap-datepicker3.min.css" />
<link rel="stylesheet" href="/css/line-awesome.min.css" />
<link rel="stylesheet" href="/css/theme-color.css" />
<link rel="stylesheet" href="/css/app.min.css" />
<link rel="stylesheet" href="/css/custom-body.css" />

<script src="~/js/select2.min.js"></script>
<link rel="stylesheet" href="~/css/select2.min.css" />
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap-datepicker.min.js"></script>

<script src="../js/metisMenu.min.js"></script>
<script src="../js/simplebar.min.js"></script>
<script src="../js/app.js"></script>
<style>
    .isdisabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
    }

    /* li.pagination-page.ng-scope {
            MARGIN-LEFT: 15PX;
            MARGIN-RIGHT: 15PX;
        }

        .MYPAGECSS {
            BORDER: 1PX SOLID !important;
            FLOAT: RIGHT !important;
            BORDER-RADIUS: 5PX !important;
        }

        li.pagination-page.ng-scope.active {
            FONT-WEIGHT: BOLD;
        } */
</style>

<div ng-app="myApp" ng-controller="myctrn" ng-init="PageLoad()" id="" class="">
    <div id="layout-wrapper">

        <div class="container-fluid">

            <div class="display_adds_parent">
                <div class="display_adds_view_box display_adds_2_col">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">Bank Format Master</h4>
                                @*<div class="page-title-right">
                                        <a href="/BrokerBillEntry/BrokerBillList" class="px-2 btn btn-dark"><i class="las la-angle-left font-size-18"></i> Back to List</a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <!-- Working Area Start -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row form_2">
                                <div class="col-sm-12 col-md-6 mb-3 d-flex">
                                    <label for="ddlbankFormat" class="mb-0">Select Bank:</label>
                                    <select id="ddlbank" ng-model="ddlbank" ng-options="v.ID as v.NAME for v in bank" class="form-select select2">
                                        <option ng-option value="">Select Bank</option>
                                    </select>



                                </div>
                                <div class="col-sm-12 col-md-6 mb-3 d-flex">
                                    <label for="txt_bankFormateNumber" class="mb-0">Bank Format Name:</label>
                                    <input type="text" id="txt_bankFormateNumber" ng-model="txt_bankFormateNumber" class="form-select" placeholder="Enter Bank Format Name" />




                                </div>
                                <div class="col-sm-12 col-md-6 mb-3 d-flex">
                                    <label for="ddl_File_Type" class="mb-0">File Type:</label>
                                    <select id="ddl_File_Type" ng-model="ddl_File_Type" class="form-select select2">
                                        <option value="" selected="selected">Select File Type</option>
                                        <option selected="selected" value="EXCEL">Excel</option>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-6 mb-3 d-flex">
                                    <label for="ddl_File_Format_Type" class="mb-0">Format File Type:</label>
                                    <select id="ddl_File_Format_Type" ng-model="ddl_File_Format_Type" ng-change="fnchangeformattype()" class="form-select select2">
                                        <option value="" selected="selected">Select Format File Type</option>
                                        <option value=".xlsx">Excel File In Latest version(xlsx) </option>
                                        <option value=".xls"> Excel File In Old version(xls)</option>
                                    </select>
                                </div>

                                <div class="text-center mt-3 mb-3">
                                    <button ng-click="FnReset()" type="button" class="btn btn-secondary">Reset</button>
                                    <button ng-click="FnFinalSubmit()" type="button" class="btn btn-primary">{{btntext}}</button>
                                    <div style="display:none;" class="loader-wrapper" id="loader-1">
                                        <div id="loader"></div>
                                    </div>
                                </div>

                                <div class="pagination_box w-100 mb-3 d-sm-flex justify-content-end">
                                    <div class="float-sm-end">
                                        <uib-pagination class="pagination MYPAGECSS" total-items="bankformates.length" ng-model="page"
                                                        ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=10></uib-pagination>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover sr-table table-bordered mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th>#</th>
                                                <th>BANKNAME  <input type="text" class="form-control " ng-model="search.BANK_ID" placeholder="BANKNAME"></th>
                                                <th>FORMATE NAME  <input type="text" class="form-control " ng-model="search.Description" placeholder="FORMATE NAME"></th>
                                                <th>FileType  <input type="text" class="form-control " ng-model="search.FileType" placeholder="FileType"></th>
                                                <th>FileExtension  <input type="text" class="form-control " ng-model="search.FileExtension" placeholder="FileExtension"></th>

                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in bankformates| filter:search | limitTo:10:10*(page-1)">
                                                <td>{{$index+1}}</td>
                                                <td>{{data.BANK_ID}} </td>
                                                <td>{{data.Description}}</td>
                                                <td>{{data.FileType}}</td>
                                                <td>{{data.FileExtension}}</td>

                                                <td>
                                                    <a href="javascript:;" ng-click="FndeleteItems(data)" class="px-2 btn btn-outline-danger"><i class="las la-trash-alt font-size-18"></i></a>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="display_adds display_adds_right text-center">
                    <div class="mobile_adds mb-3">
                        <img src="https://via.placeholder.com/970x90.png/007BFF/FFFFFF?text=Irecord+Ads" alt="" />
                    </div>
                    <div class="desktop_adds">
                        <img src="https://via.placeholder.com/160x601.png/007BFF/FFFFFF?text=Irecord+Ads" alt="" />
                    </div>
                </div>
            </div>
        </div> <!-- container-fluid -->
        <!-- End Page-content -->
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>



    <!-- Modal 1 -->
    <div class="modal fade" id="modal_add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Demat</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row form_2">
                        <div class="col-sm-12 col-md-6 mb-3 d-flex">
                            <label class="mb-0">Demat <span class="text-danger">*</span>:</label>
                            <input type="text" id="family_name" name="family_name" class="form-control" placeholder="Enter Demat A/c Name" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2 -->
    <div class="modal fade" id="modal_broker" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Broker</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row form_2">
                        <div class="col-sm-12 col-md-6 mb-3 d-flex">
                            <label class="mb-0">Broker <span class="text-danger">*</span>:</label>
                            <input type="text" id="family_name" name="family_name" class="form-control" placeholder="Enter Broker Name" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/AngularDataFunction/AngularDataFunction.js"></script>
    <script src="~/AngScripts/OpeningStock.js"></script>
    <script src="~/js/select2.min.js"></script>
    <link rel="stylesheet" href="~/css/select2.min.css" />

}
<script>
        $.noConflict();
        jQuery(document).ready(function ($) {
            $('#txt_Date').attr('readonly', true);
            @*$("#txt_Date").datepicker({
                dateFormat: "dd-mm-yy",
                minDate: new Date(@Convert.ToDateTime(Convert.ToDateTime(Session["FinFromDate"].ToString()).ToString("yyyy/MM/dd")).Year, @Convert.ToDateTime(Convert.ToDateTime(Session["FinFromDate"].ToString()).ToString("yyyy/MM/dd")).Month - 1, @Convert.ToDateTime(Convert.ToDateTime(Session["FinFromDate"].ToString()).ToString("yyyy/MM/dd")).Day) ,
                maxDate: new Date(@Convert.ToDateTime(Convert.ToDateTime(Session["FinToDate"].ToString()).ToString("yyyy/MM/dd")).Year, @Convert.ToDateTime(Convert.ToDateTime(Session["FinToDate"].ToString()).ToString("yyyy/MM/dd")).Month - 1, @Convert.ToDateTime(Convert.ToDateTime(Session["FinToDate"].ToString()).ToString("yyyy/MM/dd")).Day) ,
                changeMonth: true,
                changeYear: true
            });*@

        });
</script>
<script>
    $(document).ready(function () {
        $(".select2").select2({
            maximumSelectionLength: 3
        });
        $(".select2-hide_search").select2({
            minimumResultsForSearch: Infinity
        });

    });
</script>

<script src="../js/custom-script.js"></script>
<script type="text/javascript">
    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function () {
                if (oldonload) {
                    oldonload();
                }
            }
        }
    }
    addLoadEvent(setmenu('7'));
    addLoadEvent(setentrymenu('2'));
</script>

<script src="~/AngScripts/BankFormatMaster.js"></script>



