@model IEnumerable<IRecordweb.Models.INVESTMENT>

@{
    ViewBag.Title = "Index";
}


@*<style>
    .isdisabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
    }
</style>*@

<div class="display_ad display_ad_top text-center mb-3">
    <img src="https://via.placeholder.com/970x90.png/007BFF/FFFFFF?text=Irecord+Ads" alt="" />
</div>

<div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
        <h1 class="mb-0">Investment Master</h1>

        <div class="page-title-right">
            <input type="submit" class="btn btn-primary add-on" value="Add Investment" onclick="location.href='@Url.Action("SaveInvestment", "InvestmentMaster")'" />
            @*@if (Session["RoleId"] != null)
            {
                if (Session["RoleName"].ToString() == "ADMIN" || Session["RoleName"].ToString() == "CA" || Session["RoleName"].ToString() == "INVESTOR" || Session["RoleName"].ToString() == "ADVISOR")
                {
                    
                }
                else if (Session["RoleName"].ToString() == "OPERATOR")   /*|| Session["RoleName"].ToString() == "MEMBER"*/
                {
                    <input type="submit" class="btn btn-primary disabled isdisabled" value="Add Investment" onclick="location.href='@Url.Action("SaveInvestment", "InvestmentMaster")'" />
                }
            }*@
        </div>

    </div>
</div>



@*<p>
        @Html.ActionLink("Create New", "SaveInvestment")
    </p>*@

<div class="card invesment_master_par">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered mb-0">
                <thead class="table-light">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Active)
                        </th>

                        @*<th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>*@
                        <th>
                            @Html.DisplayName("Action")
                        </th>
                    </tr>
                    </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        string Active = item.Active == true ? "Active" : "Inanctive";

                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Active)
                            </td>

                            @*<td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>*@
                            <td>
                                @Html.ActionLink(" ", "InvestmentEdit", new { id = item.InvestmentID }, new { @class = "px-2 btn btn-outline-primary las la-pencil-alt font-size-18" })
                                @Html.ActionLink(" ", "InvestmentDetails", new { id = item.InvestmentID }, new { @class = "px-2 btn btn-outline-primary las la-search font-size-18" })
                                @Html.ActionLink(" ", "InvestmentDelete", new { id = item.InvestmentID }, new { @class = "px-2 btn btn-outline-danger las la-trash-alt font-size-18" })
                            </td>
                            @*@if (Session["RoleId"] != null)
                                {
                                if (Session["RoleName"].ToString() == "ADMIN" || Session["RoleName"].ToString() == "CA"|| Session["RoleName"].ToString() == "ACCOUNTANT" || Session["RoleName"].ToString() == "INVESTOR" || Session["RoleName"].ToString() == "ADVISOR")
                                {
                                   
                                }
                                else
                                {
                                    <td>
                                        @Html.ActionLink(" ", "InvestmentEdit", new { id = item.InvestmentID }, new { @class = "isdisabled px-2 btn btn-outline-primary las la-pencil-alt font-size-18" })
                                        @if (Session["RoleName"].ToString() == "OPERATOR")
                                        {
                                            @Html.ActionLink(" ", "InvestmentDetails", new { id = item.InvestmentID }, new { @class = "px-2 btn btn-outline-primary las la-search font-size-18" })
                                        }
                                        @Html.ActionLink(" ", "InvestmentDelete", new { id = item.InvestmentID }, new { @class = "isdisabled px-2 btn btn-outline-danger las la-trash-alt font-size-18" })
                                    </td>

                                }*@
                            @*}*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
