@model IRecordweb.Models.SUBSCRIBER
@{
    ViewBag.Title = "CreatePassword";
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - iRecord</title>


    <link href="/Content/bootstrap.min.v4.css" rel="stylesheet" />
    <link href="/Content/line-awesome.min.css" rel="stylesheet" />
    <link href="/Content/theme-color.css" rel="stylesheet" />
    <link href="/Content/app.min.css" rel="stylesheet" />
    <link href="/Content/custom-body.css" rel="stylesheet" />
</head>
<link href="~/Content/onboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">

<link rel="stylesheet" href="~/css/bootstrap.min.v4.css">
<link rel="stylesheet" href="~/css/style.css">
  


<script type="text/javascript">
    $(document).ready(function () {
        $('#show_password').hover(function show() {
            //Change the attribute to text
            $('#CreatePassword').attr('type', 'text');
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        },
        function () {
            //Change the attribute back to password
            $('#CreatePassword').attr('type', 'password');
            $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        });
        //CheckBox Show Password
        $('#ShowPassword').click(function () {
            $('#CreatePassword').attr('type', $(this).is(':checked') ? 'text' : 'password');
        });
    });
    $(document).ready(function () {
        $('#show_password1').hover(function show() {
            //Change the attribute to text
            $('#ConfirmPasssword').attr('type', 'text');
            $('.icon1').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        },
        function () {
            //Change the attribute back to password
            $('#ConfirmPasssword').attr('type', 'password');
            $('.icon1').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        });
        //CheckBox Show Password
        $('#show_password1').click(function () {
            $('#ConfirmPasssword').attr('type', $(this).is(':checked') ? 'text' : 'password');
        });
    });
</script>

<div class="wrapper">
    @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()

        <div class="text-center mb-4">
            <img src="~/Content/images/logo2.png" alt="IRecord" />

            <div class="checkout-wrap">
                <ul class="checkout-bar nav_tabs d-flex">
                    <li class="visited"><a href="#tab_1"></a></li>
                    <li class="visited"><a href="#tab_2"></a></li>
                    <li class="visited"><a href="#tab_3"></a></li>
                    <li class="visited"><a href="#tab_4"></a></li>
                    <li class="visited"><a href="#tab_5"></a></li>
                    <li class="visited"><a href="#tab_6"></a></li>
                    <li class="active"><a href="#tab_7"></a></li>
                    <li class=""><a href="#tab_8"></a></li>
                    <li class=""><a href="#tab_9"></a></li>
                    <li class=""><a href="#tab_10"></a></li>
                    <li class=""><a href="#tab_11"></a></li>
                    <li class=""><a href="#tab_12"></a></li>
                    <li class=""><a href="#tab_13"></a></li>
                    <li class=""><a href="#tab_14"></a></li>
                    <li class=""><a href="#tab_15"></a></li>
                    <li class=""><a href="#tab_16"></a></li>
                    <li class=""><a href="#tab_17"></a></li>
                    <li class=""><a href="#tab_18"></a></li>
                    <li class=""><a href="javascript:;"></a></li>
                </ul>
            </div>


            <h1 class="mb-4">Create Password</h1>
        </div>

        <div class="w-100" id="tab_7">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-row">
                @Html.LabelFor(model => model.CreatePassword, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    <div class="input-group">
                        @Html.EditorFor(model => model.CreatePassword, new { htmlAttributes = new { @class = "form-control fa fa-eye-slash", @onkeyup = "ValidatePass()" }, @required = true, @Autocomplete = "Off", @onkeyup = "ValidatePass()"})
                        <button id="show_password" class="btn btn-primary btn-soft-primary" type="button" style="position:relative; display:block">
                            <span class="fa fa-eye-slash icon"></span>
                        </button>
                        @*<i id="icon" class="fa fa-eye-slash"></i>*@
                     
                    </div>
                    <span id="demo"></span>
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.ConfirmPasssword, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    <div class="input-group">
                        @Html.EditorFor(model => model.ConfirmPasssword, new { htmlAttributes = new { @class = "form-control" }, @required = true, @Autocomplete = "Off" })
                        <button id="show_password1" class="btn btn-primary btn-soft-primary" type="button" style="position:relative; display:block">
                            <span class="fa fa-eye-slash icon1"></span>
                        </button>
                        </div>
                        @Html.ValidationMessageFor(model => model.ConfirmPasssword, "", new { @class = "text-danger" })
                    </div>
            </div>

            <div class="text-center">
                <input type="submit" value="SUBMIT" class="btn btn-primary btn-soft-primary ml-auto text-uppercase" />
                <br />

                <br />

                <a href='@Url.Action("Login", "Login")' style="
    font-size: 12px;
    color: black;
">
                    Login
                </a>
                @*<input type="button" value="Login" name="Login" class="btn btn-primary btn-soft-primary ml-auto text-uppercase next-tab" onclick="location.href='@Url.Action("Login", "Login")'" />*@
            </div>
        </div>

        }

</div>
<script src="~/Scripts/jquery-2.1.1.js"></script>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<script type="text/javascript">
    function ValidatePass() {
        var str = $('#CreatePassword').val();
        if (str.length < 8) {
            document.getElementById('demo').innerHTML = "Password Must Be 8 Characters";
            document.getElementById('demo').style.color = "Red";
            return ("too_short");
        }

        else if (str.search(/[0-9]/) == -1) {
            document.getElementById('demo').innerHTML = "Must Be Atleast 1 Number";
            document.getElementById('demo').style.color = "Red";
            return ("no_num");
        }
        else if (str.search(/[a-z]/) == -1) {
            document.getElementById('demo').innerHTML = "Must Be Atleast 1 Lowercase Char";
            document.getElementById('demo').style.color = "Red";
            return ("no_lCharacter");
        }
        else if (str.search(/[A-Z]/) == -1) {
            document.getElementById('demo').innerHTML = "Must Be Atleast 1 Uppercase Char";
            document.getElementById('demo').style.color = "Red";
            return ("no_uCharacter")
        }

        document.getElementById('demo').innerHTML = "Excellent";
        document.getElementById('demo').style.color = "Green";
        return ("ok");
        alert(data);

    }
</script>

<script>
    var inputPass2 = document.getElementById('pass2'),
        icon = document.getElementById('icon');

    icon.onclick = function () {

        if (inputPass2.className == 'active') {
            inputPass2.setAttribute('type', 'text');
            icon.className = 'fa fa-eye';
            inputPass2.className = '';

        } else {
            inputPass2.setAttribute('type', 'password');
            icon.className = 'fa fa-eye-slash';
            inputPass2.className = 'active';
        }

    }
</script>
