@model IRecordweb.Models.SUBSCRIBER

@{
    ViewBag.Title = "Register";
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - iRecord</title>


    <link href="/Content/bootstrap.min.v4.css" rel="stylesheet" />
    <link href="/Content/line-awesome.min.css" rel="stylesheet" />
    <link href="/Content/theme-color.css" rel="stylesheet" />
    <link href="/Content/app.min.css" rel="stylesheet" />
    <link href="/Content/custom-body.css" rel="stylesheet" />
</head>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewBag.Message');
        };
    </script>
}
<link href="~/Content/onboard.css" rel="stylesheet" />
<style>
    .btn-primary {
        background: none !important;
        border-color: none !important;
    }
</style>


@*<form id="form" method="post" action="">*@
<div class="wrapper">
    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@

        <div class="text-center mb-4">
            <img src="~/Content/images/logo2.png" alt="IRecord" />

            <div class="checkout-wrap">
                <ul class="checkout-bar nav_tabs d-flex">
                    <li class="visited"><a href="#tab_1"></a></li>
                    <li class="visited"><a href="#tab_2"></a></li>
                    <li class="visited"><a href="#tab_3"></a></li>
                    <li class="visited"><a href="#tab_4"></a></li>
                    <li class="active"><a href="#tab_5"></a></li>
                    <li class=""><a href="#tab_6"></a></li>
                    <li class=""><a href="#tab_7"></a></li>
                    <li class=""><a href="#tab_8"></a></li>
                    <li class=""><a href="#tab_9"></a></li>
                    <li class=""><a href="#tab_10"></a></li>
                    <li class=""><a href="#tab_11"></a></li>
                    <li class=""><a href="#tab_12"></a></li>
                    <li class=""><a href="#tab_13"></a></li>
                    <li class=""><a href="#tab_14"></a></li>
                    <li class=""><a href="#tab_15"></a></li>
                    <li class=""><a href="#tab_16"></a></li>
                    <li class=""><a href="#tab_17"></a></li>
                    <li class=""><a href="#tab_18"></a></li>
                    <li class=""><a href="javascript:;"></a></li>
                </ul>
            </div>


            <h1 class="mb-4">Register</h1>
        </div>
        <div class="w-100" id="Reg tab_5">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-row">
                @Html.LabelFor(model => model.SubscriberName, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.SubscriberName, new { htmlAttributes = new { @class = "form-control", @required = true, @Autocomplete = "Off", @Placeholder = "Sample - Abc, Investement Advisor Pvt.Ltd" } })
                    @Html.ValidationMessageFor(model => model.SubscriberName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @required = true, @Autocomplete = "Off" } })
                    @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @required = true, @pattern = "[1-9]{1}[0-9]{9}" } })
                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.RoleId, ViewBag.RoleId as SelectList, "Select Role", htmlAttributes: new { @class = "form-select", @required = true })
                    @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Sign Up" class="btn btn-primary  btn-soft-primary ml-auto text-uppercase" onclick="Register()" />
                <br />

                <br />

                <a href='@Url.Action("Login", "Login")' style="
    font-size: 12px;
    color: black;
">
                    Login
                </a>
                @*<input type="button" value="Login" name="Login" class="btn btn-primary btn-soft-primary ml-auto text-uppercase next-tab text-left" onclick="location.href='@Url.Action("Login", "Login")'" />*@
            </div>
        </div>
    }

</div>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

<script>
    function Register() {
        document.getElementById('OTP').disabled = false;
        document.getElementById('Reg').disabled = true;
    }

</script>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert('@ViewBag.Message');
            };
    </script>
}

<script>

        $(document).ready(function () {
            $("#form").validate();

            var i =@(Session["Sucb_RoleId"]!=null? Session["Sucb_RoleId"].ToString():"-1");

            $("#RoleId").val(i);
        });

        jQuery(document).ready(function () {
            jQuery("#form").validate({
                rules: {
                    SubscriberName: 'required',
                    EmailID: 'required',
                    MobileNo: 'required'

                }
            });
        });
</script>
@section Scripts {

}


