@model IRecordweb.Models.USER
@{
    ViewBag.Title = "Login";
    // Layout = null;
}

@section Scripts {

    <link href="~/Content/custom-login.css" rel="stylesheet" />


    <script>
        $(function () {
            $('body').addClass('login_body');
        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@ViewBag.Message');
            };
        </script>
    }
}
<script src="~/AngScripts/jquery-3.6.0.js"></script>
<script src="~/AngScripts/jquery-3.6.0.min.js"></script>
<script src="~/AngScripts/angular.js"></script>
<script src="~/AngScripts/ngStorage.min.js"></script>
<div ng-app="myApp" ng-controller="myctrn" ng-init="PageLoad()" class="login_parent d-flex flex-column justify-content-center align-items-center">
    <!-- <header class="text-center">
        <img class="logo" src="~/Content/logo.png" />
    </header> -->

    <div class="login_main_box d-flex align-items-center">
        <div class="login_box">
            <div class="row">
                <div class="col-sm-12 col-md-12 white_box">
                    <div class="padding_box">
                        <div class="text-center">
                            <img class="logo" src="~/Content/images/logo2.png" />
                            <h3 class="w-100 mt-5 mb-4">Forgot Password</h3>
                        </div>
                        <div class="form_box">
                            <div class="mb-3 d-flex flex-column">
                                <div class="form_input d-flex flex-column-reverse">
                                    @if (TempData["UserNm"] != null)
                                    {
                                        <input type="text" id="txt_userName" class="form-control readonly" placeholder="Enter Your Login Email Id" value="@TempData["UserName"].ToString()" readonly="readonly" />
                                    }
                                    else
                                    {
                                        <input type="text" id="txt_userName" class="form-control" placeholder="Enter Your Login Email Id" value="" />@*value="@TempData["UserName"].ToString()"/>*@
                                    }

                                    <label>Email Id</label>
                                </div>

                            </div>
                            <div class="mb-3 d-flex flex-column">
                                <div class="form_input d-flex flex-column-reverse">

                                    <select  class="form-control" name="ddlotpwant" id="ddlotpwant">
                                        <option value="-1">Select.</option>
                                        <option value="1">To Mail</option>
                                        <option value="2">To Mobile SMS</option>
                                    </select>

                                    <label>Send OTP On </label>


                                </div>

                            </div>
                            <input type="button" style="display:none;" id="btn_Otp_Send" ng-click="sendotpfn()" value="Send Otp" class="btn w-100 btn-block btn-primary" />
                            <label id="lbldisplayid" style=" 
    color: #007bff;display:none";
"></label>

                            <div class="mb-3 d-flex flex-column">
                                <div class="form_input d-flex flex-column-reverse">

                                    <input type="text" id="txt_Otp" class="form-control" placeholder="Enter Your Otp" />

                                    <label>Enter Otp </label>


                                </div>

                            </div>

                            <input type="submit"  ng-click="otp_Verifly()"  id="btn_submit" value="Submit" class="btn w-100 btn-block btn-primary" />


                        </div>
                        <div id="dvMessage" style="display:none" class="alert alert-danger">
                            <strong>Error!</strong>
                            <span>@ViewBag.Message</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@if (@ViewBag.Message != null)
{
    <script type="text/javascript">
        $(function () {
            $("#dvMessage").show();
        });
    </script>
}
<script src="~/AngularDataFunction/AngularDataFunction.js"></script>
<script src="~/AngScripts/ForgotPassword.js"></script>