@model IEnumerable<IRecordweb.Models.FUNDCATEGORY>

@{
    ViewBag.Title = "Index";
}

<style>
    .isdisabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
    }
</style>

<div class="display_ad display_ad_top text-center mb-3">
    <img src="https://via.placeholder.com/970x90.png/007BFF/FFFFFF?text=Irecord+Ads" alt="" />
</div>

<div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
        <h1 class="mb-0">Mutual Fund Category Master</h1>

        <div class="page-title-right">
            <input type="submit" class="btn btn-primary add-on" value="Add Fund Category" onclick="location.href='@Url.Action("SaveMutualFundCat", "MutualFundCategory")'" />
            @*@if (Session["RoleId"] != null)
            {
                if (Session["RoleName"].ToString() == "ADMIN" || Session["RoleName"].ToString() == "CA" || Session["RoleName"].ToString() == "INVESTOR" || Session["RoleName"].ToString() == "ACCOUNTANT" || Session["RoleName"].ToString() == "ADVISOR")
                {
                    <input type="submit" class="btn btn-primary add-on" value="Add Fund Category" onclick="location.href='@Url.Action("SaveMutualFundCat", "MutualFundCategory")'" />
                }
                else if (Session["RoleName"].ToString() == "OPERATOR")
                {
                    <input type="submit" class="btn btn-primary disabled isdisabled" value="Add Fund Category" onclick="location.href='@Url.Action("SaveMutualFundCat", "MutualFundCategory")'" />
                }
            }*@
        </div>

    </div>
</div>




<div class="card mutualfund_cate_master_par">
    <div class="card-body">
        <div class="row form_2">

            <table class="table table-hover table-bordered mb-0">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayName("Action")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    string Active = item.Active == true ? "Active" : "Inactive";
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Active)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "MutualFundCatUpdate", new { id = item.MutualFundCategoryID }, new { @class = "px-2 btn btn-outline-primary las la-pencil-alt font-size-18" })
                        @Html.ActionLink(" ", "MutualFundCatDetails", new { id = item.MutualFundCategoryID }, new { @class = "px-2 btn btn-outline-primary las la-search font-size-18" })
                        @Html.ActionLink(" ", "MutualFundCatDelete", new { id = item.MutualFundCategoryID }, new { @class = "px-2 btn btn-outline-danger las la-trash-alt font-size-18" })
                    </td>
                    @*@if (Session["RoleId"] != null)
                    {
                        if (Session["RoleName"].ToString() == "ADMIN" || Session["RoleName"].ToString() == "CA" || Session["RoleName"].ToString() == "INVESTOR" || Session["RoleName"].ToString() == "ACCOUNTANT" || Session["RoleName"].ToString() == "ADVISOR")
                        {

                        }
                        else
                        {
                            <td>
                                @Html.ActionLink(" ", "MutualFundCatUpdate", new { id = item.MutualFundCategoryID }, new { @class = "isdisabled px-2 btn btn-outline-primary las la-pencil-alt font-size-18" })
                                @if (Session["RoleName"].ToString() == "OPERATOR")
                                {
                                    @Html.ActionLink(" ", "MutualFundCatDetails", new { id = item.MutualFundCategoryID }, new { @class = "px-2 btn btn-outline-primary las la-search font-size-18" })
                                }
                                @Html.ActionLink("Delete", "MutualFundCatDelete", new { id = item.MutualFundCategoryID }, new { @class = "isdisabled px-2 btn btn-outline-danger las la-trash-alt font-size-18" })
                            </td>
                        }
                    }*@
                </tr>
                }

            </table>
        </div>
    </div>
</div>