@model BAL.MutualFundCategory

@{
    ViewBag.Title = "MutualFundCatDetails";
}

<h1>Mutual Fund Category Master</h1>

@{
    bool status = Model.Active;
    string Active = status == true ? "Active" : "Inanctive";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "MutualFundCatUpdate", new { id = Model.MutualFundCategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
