@model IRecordweb.Models.MEMBER

@{
    ViewBag.Title = "Delete";
}

<style>
    .modal-dialog {
        right: auto;
        left: 0%;
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
</style>

<div class="display_ad_parent">
    <div class="display_ad_view_box">

        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h1 class="mb-0">Member Master</h1>

                <div class="page-title-right">
                    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-dark" })
                </div>

            </div>
        </div>

        @{
            bool status = Model.Active;
            string Active = status == true ? "Active" : "Inanctive";
           
        }
        <div class="card member_master_par">
            <div class="card-body">
                <div class="row form_2 view_mode">
                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.MemberID)</label>
                        <span class="form-control">@Html.DisplayFor(model => model.MemberID)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.FamilyID)</label>
                        <span class="form-control">@Html.DisplayFor(model => model.FamilyID)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.MemberName)</label>
                        <span class="form-control">@Html.DisplayFor(model => model.MemberName)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.Code)</label>
                        <span class="form-control">@Html.DisplayFor(model => model.Code)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.Address)</label>
                        <span class="form-control">@Html.DisplayFor(model => model.Address)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.Gender)</label>
                        <span class="form-control">@Html.DisplayFor(model => model.Gender)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.ServTax_No)</label>
                        <span class="form-control">@Html.DisplayFor(model => model.ServTax_No)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.AadharCardNo)</label>
                        <span class="form-control">@Html.DisplayFor(model => model.AadharCardNo)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.PAN)</label>
                        <span class="form-control">@Html.DisplayFor(model => model.PAN)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.UserId)</label>
                        <span class="form-control">@Html.DisplayFor(model => model.UserId)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.Active)</label>
                        <span class="form-control">@Html.DisplayFor(model => Active)</span>
                    </div>

                    @*@using (Html.BeginForm())
                        {
                        @Html.AntiForgeryToken()*@

                    <div class="col-sm-12 text-center mt-3">
                        <input type="submit" value="Delete" class="btn btn-danger" data-bs-target="#myModal" data-bs-toggle="modal" />
                    </div>
                    @*}*@

                </div>
            </div>
        </div>


        <!-- The Modal -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Delete Member Master</h4>
                            <div class="btn-close" data-bs-dismiss="modal"></div>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Are you sure you want to delete this?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <input type="submit" value="OK" name="OK" class="btn btn-danger">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        }
        @*</div>*@

    </div>
    <div class="display_ad display_ad_right text-center">
        <div class="mobile_ad mb-3">
            <img src="https://via.placeholder.com/970x90.png/007BFF/FFFFFF?text=Irecord+Ads" alt="" />
        </div>
        <div class="desktop_ad">
            <img src="https://via.placeholder.com/160x601.png/007BFF/FFFFFF?text=Irecord+Ads" alt="" />
        </div>
    </div>
</div>
