@model IRecordweb.Models.CONSULTANT

@{
    ViewBag.Title = "DeleteConsultant";
}

<div class="display_adds_parent">
    <div class="display_adds_view_box display_adds_2_col">

        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h1 class="mb-0">Consultant Master</h1>

                <div class="page-title-right">
                    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-dark ml-1" })
                </div>

            </div>
        </div>

        @{
            bool status = Model.Active;
            string Active = status == true ? "Active" : "Inanctive";
        }
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="card consultant_par">
            <div class="card-body">
                <div class="row form_2 view_mode">
                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.Name)</label>
                        <span class="form-control"> @Html.DisplayFor(model => model.Name)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.MobileNo)</label>
                        <span class="form-control"> @Html.DisplayFor(model => model.MobileNo)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.Email)</label>
                        <span class="form-control"> @Html.DisplayFor(model => model.Email)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.Active)</label>
                        <span class="form-control"> @Html.DisplayFor(model => Active)</span>
                    </div>

                    <div class="col-sm-12 col-md-6 mb-3 d-flex">
                        <label class="mb-0">@Html.DisplayNameFor(model => model.CreatedDate)</label>
                        <span class="form-control"> @Html.DisplayFor(model => model.CreatedDate)</span>
                    </div>
                    <div class="col-sm-12 text-center mt-3">
                        <input type="submit" value="Delete" class="btn btn-danger" />@*data-bs-target="#myModal" data-bs-toggle="modal"*@  
                    </div>
                </div>
            </div>
        </div>

        @*}*@
    @*@using (Html.BeginForm("DeleteConsultant", "ConsultantMaster", FormMethod.Post))
    {
        @Html.AntiForgeryToken()*@

        <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Consultant</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure you want to delete this?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" value="OK" class="btn btn-danger" />
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    }


</div>
<div class="display_adds display_adds_right text-center">
    <div class="mobile_adds mb-3">
        <img src="https://via.placeholder.com/970x90.png/007BFF/FFFFFF?text=Irecord+Ads" alt="" />
    </div>
    <div class="desktop_adds">
        <img src="https://via.placeholder.com/160x601.png/007BFF/FFFFFF?text=Irecord+Ads" alt="" />
    </div>
</div>
</div>
